@charset "UTF-8";
.topic-icon-wrapper, .studio-img-wrapper, .icons-of-masters, .link-of-team-icons, .clients-list-icons, .clients-link, .join-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container, .backdrop, .link-of-team-icons, .clients-link, .join-footer-link, .portfolio-paragraph-wrapper {
  width: 100%;
  height: 100%;
}

.button, .form-button, .footer-form-button {
  display: inline-block;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-color-left {
  color: #2196f3;
}

.logo-color-right {
  color: #212121;
}

.logo-color-footer {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-logo-position {
    margin-right: auto;
    margin-left: auto;
    width: 154px;
  }
}

@media screen and (max-width: 767px) {
  .connection {
    margin-bottom: 17%;
  }
}

@media screen and (max-width: 1199px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection-link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connection-link:not(:last-child) {
    margin-right: 30px;
  }
}

.header-link {
  color: #757575;
  fill: #757575;
}

@media screen and (max-width: 767px) {
  .header-link {
    font-size: 24px;
    line-height: 1.167;
  }
}

@media screen and (max-width: 767px) {
  .link-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link-icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .item-link-tel {
    margin-bottom: 32px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.header-link-tel {
  color: #757575;
  fill: #757575;
}

@media screen and (max-width: 767px) {
  .header-link-tel {
    font-size: 34px;
    line-height: 1.176;
    color: #2196f3;
  }
}

.address {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item {
  margin-top: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .wrapper {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .is-hidden-btn {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .modal-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .modal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu-button-position {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .main-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    position: relative;
  }
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.143;
    color: #212121;
    -webkit-transition-property: color, fill;
    transition-property: color, fill;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .underline-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .underline-nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .underline-nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 76px;
    border-radius: 2px;
    -webkit-transform: translate(0, 25%);
            transform: translate(0, 25%);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .underline-nav-link:hover::after, .underline-nav-link:focus::after {
    background-color: #2196f3;
  }
}

.studio-color,
.portfolio-color {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .studio-color::after,
  .portfolio-color::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 76px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .menu-contacts-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .menu-contacts-position {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-contacts:not(:first-child) {
    padding-left: 10px;
  }
  .menu-contacts:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .menu-contacts-link {
    font-size: 18px;
    line-height: 1.222;
    color: #2196f3;
  }
}

.main-section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header1-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header1-480.jpg");
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header1-960.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header1-960.jpg");
  }
}

@media screen and (min-width: 490px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header2-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header2-768.jpg");
  }
}

@media screen and (min-width: 490px) and (min-device-pixel-ratio: 2), screen and (min-width: 490px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 490px) and (min-resolution: 192dpi), screen and (min-width: 490px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header2-1536.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header2-1536.jpg");
  }
}

@media screen and (min-width: 770px) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header3-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header3-1600.jpg");
  }
}

@media screen and (min-width: 770px) and (min-device-pixel-ratio: 2), screen and (min-width: 770px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 770px) and (min-resolution: 192dpi), screen and (min-width: 770px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/Headline-img/Header3-3200.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Headline-img/Header3-3200.jpg");
  }
}

.headline-wrapper {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .headline-wrapper {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .headline-wrapper {
    width: 696px;
  }
}

.headline {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.615;
}

@media screen and (min-width: 1200px) {
  .headline {
    font-size: 44px;
    line-height: 1.364;
  }
}

.button {
  padding: 10px 32px;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 96%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: #2196f3;
}

.close-vector {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-field {
  padding: 40px;
}

.form-paragraph {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .form-paragraph {
    line-height: 1.15;
  }
}

.form-label {
  position: relative;
  display: block;
  text-align: start;
}

.form-label:not(:last-child) {
  margin-bottom: 10px;
}

.form-label:last-child {
  margin-bottom: 20px;
}

.form-name {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.form-input {
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 70%;
  left: 3%;
  -webkit-transform: translate(-3%, -70%);
          transform: translate(-3%, -70%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon,
.form-input:not(:placeholder-shown) + .form-icon {
  outline: transparent;
  fill: #2196f3;
}

.form-textarea {
  padding: 12px 16px;
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus, .form-textarea:not(:placeholder-shown) {
  outline: transparent;
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-checkbox-label {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .form-checkbox:checked + .checkbox-description::before,
  .form-checkbox:checked ~ .checkbox-icon {
    background-color: #2196f3;
    border: transparent;
    border-radius: 2px;
    fill: #ffffff;
  }
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .checkbox-icon {
    top: 50%;
    left: 3%;
    -webkit-transform: translate(-3%, -50%);
            transform: translate(-3%, -50%);
  }
}

.checkbox-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.checkbox-description::before {
  margin-right: 7px;
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:focus-visible + .checkbox-description::before {
  border-color: #2196f3;
  outline: 1px solid #212121;
}

@media screen and (max-width: 1199px) {
  .checkbox-description {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.checkbox-link-color {
  display: inline-block;
  color: rgba(33, 150, 243, 0.9);
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .checkbox-link-color {
    display: inline;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.form-button {
  padding: 10px 56px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
}

/*--- Оригинальный чекбокс-ниже 480 ---*/
@media screen and (max-width: 479px) {
  .form-checkbox-label {
    margin-bottom: 30px;
    text-align: start;
  }
  .form-checkbox {
    margin-right: 8px;
  }
  :checked + .checkbox-description::before,
  :checked ~ .checkbox-icon {
    display: none;
  }
  .checkbox-icon {
    display: none;
  }
  .checkbox-description {
    display: inline;
  }
  .checkbox-description::before {
    display: none;
  }
  .form-checkbox:focus-visible + ::before {
    display: none;
  }
}

.description-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .description-wrapper {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .description-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .topic-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .topic-item {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .topic-item:not(:last-child) {
    margin-right: 30px;
  }
}

.topic {
  margin-bottom: 10px;
  min-width: 270;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .topic {
    text-align: center;
  }
}

.topic-icon-wrapper {
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.topic-icon {
  width: 70px;
  height: 70px;
}

.description {
  min-width: 270px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-wrapper {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .img-wrapper {
    display: none;
  }
}

.our-action {
  margin-bottom: 50px;
}

.picture-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-of-picture {
  position: relative;
}

.list-of-picture:not(:last-child) {
  margin-right: 30px;
}

.studio-img-wrapper {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.studio-img-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team-wrapper {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team-wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-masters-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-masters-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-of-team {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .list-of-team:not(:last-child) {
    margin-bottom: 30px;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-of-team {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .list-of-team:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
  }
}

.second-team-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .second-team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-master {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
}

.calling {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-of-icons {
  width: 44px;
  height: 44px;
}

.list-of-icons:not(:last-child) {
  margin-right: 10px;
}

.link-of-team-icons {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-of-team-icons:hover, .link-of-team-icons:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.team-icon {
  width: 20px;
  height: 20px;
}

.clients-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regular-clients {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .regular-clients {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.clients-icons {
  height: 90px;
}

@media screen and (max-width: 767px) {
  .clients-icons {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-icons {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icons {
    width: 170px;
  }
  .clients-icons:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-footer-container {
    margin-bottom: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .main-footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .first-footer-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .first-footer-container {
    margin-right: 70px;
    width: 231px;
  }
}

@media screen and (max-width: 767px) {
  .second-footer-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .second-footer-container {
    margin-right: 93px;
  }
}

.join {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-footer-link {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-footer-link:hover, .join-footer-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form-input {
  padding: 15px 16px;
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer-form-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-input {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    margin-right: 12px;
    display: inline-block;
    width: 358px;
  }
}

.footer-form-button {
  position: relative;
  max-width: 200px;
  padding: 10px 29px;
  height: 50px;
  text-align: start;
}

.footer-button-icon {
  position: absolute;
  fill: #ffffff;
  top: 27%;
  left: 75%;
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .button-item {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-item {
    margin-bottom: 50px;
  }
}

.portfolio-button-item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-button-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio-button {
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.all {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-img-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-img-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.portfolio-link {
  display: block;
  outline: 1px solid #eeeeee;
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-paragraph-wrapper {
  position: absolute;
  top: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-paragraph-wrapper,
.portfolio-link:focus .portfolio-paragraph-wrapper {
  -webkit-transform: translate(0, -101%);
          transform: translate(0, -101%);
}

@media screen and (max-width: 767px) {
  .portfolio-paragraph-wrapper {
    padding: 77px 24px;
    overflow-y: auto;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-paragraph-wrapper {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-paragraph-wrapper {
    padding: 62px 24px;
  }
}

.porfolio-img-desctiption {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .portfolio-wrapper {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-wrapper {
    padding: 20px 24px 56px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-wrapper {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .second-portfolio-wrapper {
    padding-bottom: 20px;
  }
}

.apps-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.apps {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */