.header {
	border-bottom: 1px solid $line-color;
}

.wrapper {
	@media screen and (max-width: 767px) {
		position: relative;
	}
}

.nav-wrapper {
	@media screen and (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		height: 80px;
	}
}
