$first-color: #212121;
$second-color: #ffffff;
$light-color: #757575;
$dark-color: #2196f3;
$background-light-color: #f5f4fa;
$background-dark-color: #2f303a;
$line-color: #ececec;
$portfolio-line-color: #eeeeee;
$icon-color: #afb1b8;
$footer-conection-color: rgba(255, 255, 255, 0.6);
$footer-links-color: rgba(255, 255, 255, 0.1);
$portfolio-bacground-color: rgba(33, 150, 243, 0.9);
$overlay-img-color: rgba(47, 48, 58, 0.4);
$overlay: rgba(0, 0, 0, 0.2);
$close-button-border: rgba(0, 0, 0, 0.1);
$form-input-border: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$form-button-hover: #188ce8;
$img-wrapper-color: rgba(47, 48, 58, 0.8);
$footer-input-color: rgba(255, 255, 255, 0.3);
$main-font-size: 14px;
$minor-font-size: 16px;
